@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b98632;
  --secondary-color: #161b26;
}

ul.list-custom li::before {
  content: '';
  display: inline-block;
  width: 0.5em; /* Adjust size as needed */
  height: 0.5em; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
  background-color: var(--primary-color); /* Set the color as needed */
  margin-right: 0.5em; /* Space between bullet and text */
  vertical-align: middle; /* Align with text */
}

@layer utilities {
  .star {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }
}
